[submodule "leetcode/soulmachine"]
	path = leetcode/soulmachine
	url = https://github.com/soulmachine/leetcode.git
[submodule "leetcode/haoel"]
	path = leetcode/haoel
	url = https://github.com/haoel/leetcode.git
[submodule "leetcode/kamyu104"]
	path = leetcode/kamyu104
	url = https://github.com/kamyu104/LeetCode.git
[submodule "leetcode/leetcoders"]
	path = leetcode/leetcoders
	url = https://github.com/leetcoders/LeetCode.git
[submodule "leetcode/iphkwan"]
	path = leetcode/iphkwan
	url = https://github.com/iphkwan/leetcode.git
[submodule "leetcode/kedebug"]
	path = leetcode/kedebug
	url = https://github.com/kedebug/leetcode.git
[submodule "leetcode/gzwl"]
	path = leetcode/gzwl
	url = https://github.com/gzwl/leetcode.git
[submodule "leetcode/pezy"]
	path = leetcode/pezy
	url = https://github.com/pezy/LeetCode.git
[submodule "books/vhf"]
	path = books/vhf
	url = https://github.com/vhf/free-programming-books.git
[submodule "interview/andreis"]
	path = interview/andreis
	url = https://github.com/andreis/interview.git
[submodule "interview/jwasham"]
	path = interview/jwasham
	url = https://github.com/jwasham/google-interview-university.git
[submodule "interview/maximabramchuck"]
	path = interview/maximabramchuck
	url = https://github.com/MaximAbramchuck/awesome-interview-questions.git
[submodule "opt/cxxopts"]
	path = opt/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "dx/HelloD3D12"]
	path = dx/HelloD3D12
	url = https://github.com/shobomaru/HelloD3D12.git
[submodule "dx/awesome-d3d12"]
	path = dx/awesome-d3d12
	url = https://github.com/vinjn/awesome-d3d12.git
[submodule "dx/GPUImage"]
	path = dx/GPUImage
	url = https://github.com/BradLarson/GPUImage.git
[submodule "interview/ctci"]
	path = interview/ctci
	url = https://github.com/careercup/ctci.git
[submodule "oj/awesome-competitive-programming"]
	path = oj/awesome-competitive-programming
	url = https://github.com/lnishan/awesome-competitive-programming.git
[submodule "interview/awesome-interview-questions"]
	path = interview/awesome-interview-questions
	url = https://github.com/MaximAbramchuck/awesome-interview-questions.git
[submodule "awesome/awesome-cpp"]
	path = awesome/awesome-cpp
	url = https://github.com/fffaraz/awesome-cpp.git
[submodule "awesome/awesome-modern-cpp"]
	path = awesome/awesome-modern-cpp
	url = https://github.com/rigtorp/awesome-modern-cpp.git
[submodule "awesome/awesome-c"]
	path = awesome/awesome-c
	url = https://github.com/aleksandar-todorovic/awesome-c.git
[submodule "dx/taichi"]
	path = dx/taichi
	url = https://github.com/IteratorAdvance/taichi.git
[submodule "awesome/cpplinks"]
	path = awesome/cpplinks
	url = https://github.com/MattPD/cpplinks.git
[submodule "socket/sockstress"]
	path = socket/sockstress
	url = https://github.com/mitghi/sockstress.git
[submodule "dx/perftest"]
	path = dx/perftest
	url = https://github.com/sebbbi/perftest.git
[submodule "dx/ex-sdl-cairo-freetype-harfbuzz"]
	path = dx/ex-sdl-cairo-freetype-harfbuzz
	url = https://github.com/anoek/ex-sdl-cairo-freetype-harfbuzz.git
[submodule "books/douban_books_results"]
	path = books/douban_books_results
	url = https://github.com/yuzhounh/Douban_books_results.git
[submodule "dx/arcball_camera"]
	path = dx/arcball_camera
	url = https://github.com/nlguillemot/arcball_camera.git
[submodule "dx/OpenGL-on-DXGI"]
	path = dx/OpenGL-on-DXGI
	url = https://github.com/nlguillemot/OpenGL-on-DXGI.git
[submodule "linux/linux-insides"]
	path = linux/linux-insides
	url = https://github.com/0xAX/linux-insides.git
[submodule "memory/rpmalloc"]
	path = memory/rpmalloc
	url = https://github.com/rampantpixels/rpmalloc.git
[submodule "c/foundation_lib"]
	path = c/foundation_lib
	url = https://github.com/rampantpixels/foundation_lib.git
[submodule "opengl/cell"]
	path = opengl/cell
	url = https://github.com/JoeyDeVries/Cell.git
[submodule "stitch/paanorama_pwyx"]
	path = stitch/paanorama_pwyx
	url = https://github.com/ppwwyyxx/panorama.git
[submodule "game/raylib"]
	path = game/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "c/constexpr-8cc"]
	path = c/constexpr-8cc
	url = https://github.com/kw-udon/constexpr-8cc.git
[submodule "awesome/awesomeperfcpp"]
	path = awesome/awesomeperfcpp
	url = https://github.com/fenbf/AwesomePerfCpp.git
[submodule "deeplearning/deeplearningbook"]
	path = deeplearning/deeplearningbook
	url = https://github.com/HFTrader/DeepLearningBook.git
[submodule "mesh/draco"]
	path = mesh/draco
	url = https://github.com/google/draco.git
[submodule "socket/iptree"]
	path = socket/iptree
	url = https://github.com/zmap/iptree.git
[submodule "mesh/tinyobjloader"]
	path = mesh/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "gpu/pbrt-v3"]
	path = gpu/pbrt-v3
	url = https://github.com/mmp/pbrt-v3.git
[submodule "socket/zmap"]
	path = socket/zmap
	url = https://github.com/zmap/zmap.git
[submodule "ui/imgui"]
	path = ui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "audio/soloud"]
	path = audio/soloud
	url = https://github.com/jarikomppa/soloud.git
[submodule "dx/dxwrapper"]
	path = dx/dxwrapper
	url = https://github.com/jarikomppa/dxwrapper.git
[submodule "audio/aptk"]
	path = audio/aptk
	url = https://github.com/neilogd/aptk.git
[submodule "tiny/stb"]
	path = tiny/stb
	url = https://github.com/nothings/stb.git
[submodule "awesome/sigle_file_libs"]
	path = awesome/sigle_file_libs
	url = https://github.com/nothings/single_file_libs.git
[submodule "socket/zed_net"]
	path = socket/zed_net
	url = https://github.com/Smilex/zed_net.git
[submodule "ui/nuklear"]
	path = ui/nuklear
	url = https://github.com/vurtun/nuklear.git
[submodule "tiny/mmx"]
	path = tiny/mmx
	url = https://github.com/vurtun/mmx.git
[submodule "c/libdhcore"]
	path = c/libdhcore
	url = https://github.com/septag/libdhcore.git
[submodule "git/git-fat"]
	path = git/git-fat
	url = https://github.com/Loftilus/git-fat.git
[submodule "mesh/tinyobjloader-c"]
	path = mesh/tinyobjloader-c
	url = https://github.com/syoyo/tinyobjloader-c.git
[submodule "cmake/leathers"]
	path = cmake/leathers
	url = https://github.com/ruslo/leathers.git
[submodule "cmake/polly"]
	path = cmake/polly
	url = https://github.com/ruslo/polly.git
[submodule "ui/cegui"]
	path = ui/cegui
	url = https://github.com/OpenTechEngine/CEGUI.git
[submodule "mesh/meshoptimizer"]
	path = mesh/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "grep/qgrep"]
	path = grep/qgrep
	url = https://github.com/zeux/qgrep.git
[submodule "profiler/microprofile"]
	path = profiler/microprofile
	url = https://github.com/zeux/microprofile.git
[submodule "xml/pugixml"]
	path = xml/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "database/ssdb"]
	path = database/ssdb
	url = https://github.com/ideawu/ssdb.git
[submodule "socket/icomet"]
	path = socket/icomet
	url = https://github.com/ideawu/icomet.git
[submodule "http/simple-web-server"]
	path = http/simple-web-server
	url = https://github.com/eidheim/Simple-Web-Server.git
[submodule "gc/blinkgc"]
	path = gc/blinkgc
	url = https://github.com/weolar/blinkgc.git
[submodule "script/iscript"]
	path = script/iscript
	url = https://github.com/PeterDing/iScript.git
[submodule "json/picojson"]
	path = json/picojson
	url = https://github.com/kazuho/picojson.git
[submodule "pattern/unco"]
	path = pattern/unco
	url = https://github.com/kazuho/unco.git
[submodule "http/picohttpparser"]
	path = http/picohttpparser
	url = https://github.com/h2o/picohttpparser.git
[submodule "dx/luna_dx11"]
	path = dx/luna_dx11
	url = https://github.com/utilForever/DirectX.git
[submodule "http/h2o"]
	path = http/h2o
	url = https://github.com/h2o/h2o.git
[submodule "c/nflibs"]
	path = c/nflibs
	url = https://github.com/niklasfrykholm/nflibs.git
[submodule "awesome/public-apis"]
	path = awesome/public-apis
	url = https://github.com/abhishekbanthia/Public-APIs.git
[submodule "cpp/cpp-dependencies"]
	path = cpp/cpp-dependencies
	url = https://github.com/tomtom-international/cpp-dependencies.git
[submodule "opengl/openglcpp"]
	path = opengl/openglcpp
	url = https://github.com/SaschaWillems/openglcpp.git
[submodule "vulkan/vulkan"]
	path = vulkan/vulkan
	url = https://github.com/SaschaWillems/Vulkan.git
[submodule "c/timer_lib"]
	path = c/timer_lib
	url = https://github.com/rampantpixels/timer_lib.git
[submodule "c/str"]
	path = c/str
	url = https://github.com/ocornut/str.git
[submodule "ui/imguivr"]
	path = ui/imguivr
	url = https://github.com/temcgraw/ImguiVR.git
[submodule "cpp/dlib"]
	path = cpp/dlib
	url = https://github.com/davisking/dlib.git
[submodule "oj/algorithm-exercise"]
	path = oj/algorithm-exercise
	url = https://github.com/billryan/algorithm-exercise.git
[submodule "js/webtorrent"]
	path = js/webtorrent
	url = https://github.com/feross/webtorrent.git
[submodule "vr/webvr"]
	path = vr/webvr
	url = https://github.com/w3c/webvr.git
[submodule "x64dbg/xAnalyzer"]
	path = x64dbg/xAnalyzer
	url = https://github.com/ThunderCls/xAnalyzer.git
[submodule "x64dbg/x64dbg"]
	path = x64dbg/x64dbg
	url = https://github.com/x64dbg/x64dbg.git
[submodule "x64dbg/x64_tracer"]
	path = x64dbg/x64_tracer
	url = https://github.com/KurapicaBS/x64_tracer.git
[submodule "json/rapidjson"]
	path = json/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "json/json-tutorial"]
	path = json/json-tutorial
	url = https://github.com/miloyip/json-tutorial.git
[submodule "json/nativejson-benchmark"]
	path = json/nativejson-benchmark
	url = https://github.com/miloyip/nativejson-benchmark.git
[submodule "json/jsonxx"]
	path = json/jsonxx
	url = https://github.com/hjiang/jsonxx.git
[submodule "json/cjson"]
	path = json/cjson
	url = https://github.com/DaveGamble/cJSON.git
[submodule "json/configuru"]
	path = json/configuru
	url = https://github.com/emilk/Configuru.git
[submodule "log/loguru"]
	path = log/loguru
	url = https://github.com/emilk/loguru.git
[submodule "cpp/emilib"]
	path = cpp/emilib
	url = https://github.com/emilk/emilib.git
[submodule "json/jvar"]
	path = json/jvar
	url = https://github.com/YasserAsmi/jvar.git
[submodule "json/json_taocpp"]
	path = json/json_taocpp
	url = https://github.com/taocpp/json.git
[submodule "json/ujson"]
	path = json/ujson
	url = https://bitbucket.org/awangk/ujson.git
[submodule "json/ujson4c"]
	path = json/ujson4c
	url = https://github.com/esnme/ujson4c.git
[submodule "json/ultrajson"]
	path = json/ultrajson
	url = https://github.com/esnme/ultrajson.git
[submodule "json/pjson"]
	path = json/pjson
	url = https://github.com/ony/pjson.git
[submodule "json/jsmn"]
	path = json/jsmn
	url = https://github.com/zserge/jsmn.git
[submodule "json/jsoncons"]
	path = json/jsoncons
	url = https://github.com/danielaparker/jsoncons.git
[submodule "json/fastjson"]
	path = json/fastjson
	url = https://github.com/mikeando/fastjson.git
[submodule "json/sajson"]
	path = json/sajson
	url = https://github.com/chadaustin/sajson.git
[submodule "json/json_nlohmann"]
	path = json/json_nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "json/json-parser"]
	path = json/json-parser
	url = https://github.com/udp/json-parser.git
