[submodule "leetcode/soulmachine"]
	path = leetcode/soulmachine
	url = https://github.com/soulmachine/leetcode.git
[submodule "leetcode/haoel"]
	path = leetcode/haoel
	url = https://github.com/haoel/leetcode.git
[submodule "leetcode/kamyu104"]
	path = leetcode/kamyu104
	url = https://github.com/kamyu104/LeetCode.git
[submodule "leetcode/leetcoders"]
	path = leetcode/leetcoders
	url = https://github.com/leetcoders/LeetCode.git
[submodule "leetcode/iphkwan"]
	path = leetcode/iphkwan
	url = https://github.com/iphkwan/leetcode.git
[submodule "leetcode/kedebug"]
	path = leetcode/kedebug
	url = https://github.com/kedebug/leetcode.git
[submodule "leetcode/gzwl"]
	path = leetcode/gzwl
	url = https://github.com/gzwl/leetcode.git
[submodule "leetcode/pezy"]
	path = leetcode/pezy
	url = https://github.com/pezy/LeetCode.git
[submodule "books/vhf"]
	path = books/vhf
	url = https://github.com/vhf/free-programming-books.git
[submodule "interview/andreis"]
	path = interview/andreis
	url = https://github.com/andreis/interview.git
[submodule "interview/jwasham"]
	path = interview/jwasham
	url = https://github.com/jwasham/google-interview-university.git
[submodule "interview/maximabramchuck"]
	path = interview/maximabramchuck
	url = https://github.com/MaximAbramchuck/awesome-interview-questions.git

[submodule "opt/cxxopts"]
	path = opt/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "dx/HelloD3D12"]
	path = dx/HelloD3D12
	url = https://github.com/shobomaru/HelloD3D12.git
[submodule "dx/awesome-d3d12"]
	path = dx/awesome-d3d12
	url = https://github.com/vinjn/awesome-d3d12.git
[submodule "dx/GPUImage"]
	path = dx/GPUImage
	url = https://github.com/BradLarson/GPUImage.git
[submodule "interview/ctci"]
	path = interview/ctci
	url = https://github.com/careercup/ctci.git
[submodule "oj/awesome-competitive-programming"]
	path = oj/awesome-competitive-programming
	url = https://github.com/lnishan/awesome-competitive-programming.git
[submodule "interview/awesome-interview-questions"]
	path = interview/awesome-interview-questions
	url = https://github.com/MaximAbramchuck/awesome-interview-questions.git
[submodule "awesome/awesome-cpp"]
	path = awesome/awesome-cpp
	url = https://github.com/fffaraz/awesome-cpp.git
[submodule "awesome/awesome-modern-cpp"]
	path = awesome/awesome-modern-cpp
	url = https://github.com/rigtorp/awesome-modern-cpp.git
[submodule "awesome/awesome-c"]
	path = awesome/awesome-c
	url = https://github.com/aleksandar-todorovic/awesome-c.git
[submodule "dx/taichi"]
	path = dx/taichi
	url = https://github.com/IteratorAdvance/taichi.git
[submodule "awesome/cpplinks"]
	path = awesome/cpplinks
	url = https://github.com/MattPD/cpplinks.git
[submodule "socket/sockstress"]
	path = socket/sockstress
	url = https://github.com/mitghi/sockstress.git
[submodule "dx/perftest"]
	path = dx/perftest
	url = https://github.com/sebbbi/perftest.git
[submodule "dx/ex-sdl-cairo-freetype-harfbuzz"]
	path = dx/ex-sdl-cairo-freetype-harfbuzz
	url = https://github.com/anoek/ex-sdl-cairo-freetype-harfbuzz.git
[submodule "books/douban_books_results"]
	path = books/douban_books_results
	url = https://github.com/yuzhounh/Douban_books_results.git
[submodule "dx/arcball_camera"]
	path = dx/arcball_camera
	url = https://github.com/nlguillemot/arcball_camera.git
[submodule "dx/OpenGL-on-DXGI"]
	path = dx/OpenGL-on-DXGI
	url = https://github.com/nlguillemot/OpenGL-on-DXGI.git
[submodule "linux/linux-insides"]
	path = linux/linux-insides
	url = https://github.com/0xAX/linux-insides.git
[submodule "memory/rpmalloc"]
	path = memory/rpmalloc
	url = https://github.com/rampantpixels/rpmalloc.git
[submodule "c/foundation_lib"]
	path = c/foundation_lib
	url = https://github.com/rampantpixels/foundation_lib.git
[submodule "opengl/cell"]
	path = opengl/cell
	url = https://github.com/JoeyDeVries/Cell.git
